
    <h2>Liste des accessoires</h2>
    <ul>
        <li>
            <img [src]="tabAccess[0].image" alt="casque">
            <strong>{{tabAccess[0].name}} </strong>  
            : {{tabAccess[0].description}}
            <br>
            Prix:  {{tabAccess[0].price}} DT
            - Pourcentage Réduction <input type="number" #txtRed value="0" min="0" max="100">
             <input type="checkbox" [checked]="tabAccess[0].available"> Disponible
            <button (click)="calculerPrix(txtRed.value)"> Prix final</button>
        </li>
        <li>
            <img [src]="tabAccess[1].image" alt="casque">
            <strong>{{tabAccess[1].name}} </strong>  
            : {{tabAccess[1].description}}
            <br>
            Prix:  {{tabAccess[1].price}} DT
            - Pourcentage Réduction <input type="number" [(ngModel)] ="reduction" min="0" max="100"> 
             <input type="checkbox" [checked]="tabAccess[1].available">Disponible
            <button (click)="calculerPrix2()"> Prix final</button>
        </li>
    </ul>   

